// Seccion Prensa

.seccion-prensa{
    background-image: url(/images/seccion-prensa.jpg);
    padding-bottom: 35px;
}


.card-img-top{
    padding-top: 25px;
    padding-left: 25px;
    height: 100px;
    width: 100px;
}

.card{
    background-color: $transparent-gold;
}